.carousel-container{
    position: relative;
    width: 100vw;
    height: 500px;
    /* transition: all 1s; */
    /* transform: translateX(-100vw); */
    background: #F2F2F2;
    display: flex;
    
}

.carousel-img{
    margin-left: 50%;
    transform: translate(-50%,0);
}

.left{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0,-50%);
    cursor: pointer;
}
.right{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0,-50%);
    cursor: pointer;
}

